package frontend

import (
	"fmt"
	"golang.org/x/text/cases"
	"golang.org/x/text/language"
	"golang.org/x/text/message"
	"web/protos"
)

templ ArbsPage(param []TemplateModel[protos.Ebo_CrossPlatformArb]) {
	@document(ArbsPartial(param), nil)
}

templ ArbsPartial(param []TemplateModel[protos.Ebo_CrossPlatformArb]) {
	<div class="mx-3 h-full flex flex-col" id="needsResolve">
		<div class="flex gap-3 py-4 justify-center items-center w-fit">
			<p class="text-2xl font-archivoSemiBold text-left">Arbs</p>
			<p class="text-sm font-archivo rounded-full bg-[#FFFFFF4D] px-1.5 py-0.5 text-center w-fit h-fit">
				{{ p := message.NewPrinter(language.English) }}
				{ p.Sprintf("%d", len(param)) }
			</p>
		</div>
		if len(param) > 0 {
			<div class="flex gap-2 mb-3">
				<button
					onclick="filterPlatform('ALL', this)"
					class="platform-filter px-3 py-1 bg-white/20 hover:bg-white/30 rounded-full text-xs cursor-pointer transition
				    bg-emerald-500/20 ring-1 ring-emerald-400 shadow-[0_0_8px_rgba(16,185,129,0.6)]"
				>
					All
				</button>
				<button
					onclick="filterPlatform('POLYMARKET', this)"
					class="platform-filter px-3 py-1 bg-white/20 hover:bg-white/30 rounded-full text-xs cursor-pointer transition"
				>
					Polymarket
				</button>
				<button
					onclick="filterPlatform('KALSHI', this)"
					class="platform-filter px-3 py-1 bg-white/20 hover:bg-white/30 rounded-full text-xs cursor-pointer transition"
				>
					Kalshi
				</button>
			</div>
			<section class="ml-2.5 overflow-y-auto min-h-0">
				<ul class="space-y-3">
					for i, v := range param {
						if v.Payload.CrossPlatformArb == nil {
							continue
						}
						<li
							class="border-4 border-white/30 rounded-2xl px-2.5 py-2.5 text-md transition-colors duration-150 hover:bg-white/5 cursor-pointer listings"
							data-platform={ v.Payload.CrossPlatformArb.Anchor.Discovery.MarketInfo.Platform.String() }
						>
							<a hx-get={ templ.SafeURL(fmt.Sprintf("/resolve/arb/%s", v.CorrelationId)) } hx-trigger="click" hx-target="#needsResolve" hx-swap="outerHTML" hx-push-url="true">
								<div class="flex justify-between w-full">
									<p><span class="font-archivo text-sm">Question:</span> { v.Payload.CrossPlatformArb.Anchor.Discovery.MarketInfo.Question }</p>
									<p class="font-extrabold text-xs">{ i+1 }</p>
								</div>
								<div>
									<p><span class="font-archivo text-sm">Picks (<span class="text-xs">{ fmt.Sprintf("anchor-%d ", v.Payload.CrossPlatformArb.Anchor.Discovery.Leg) }</span>): </span> <span class="font-archivoSemiBold">{ v.Payload.CrossPlatformArb.Anchor.Discovery.LegStr }</span></p>
									<p><span class="font-archivo text-sm">Picks (<span class="text-xs">{ fmt.Sprintf("match-%d ", v.Payload.CrossPlatformArb.Match.Discovery.Leg) }</span>): </span> <span class="font-archivoSemiBold">{ v.Payload.CrossPlatformArb.Match.Discovery.LegStr }</span></p>
								</div>
								<div class="flex gap-8 mt-2.5">
									<p class="text-xs font-archivo">foundAt: <span class=" text-sm font-archivoSemiBold">{ friendlyTime(v.ArbFoundAt) } </span></p>
									<p class="text-xs font-archivo">
										platforms: 
										<span class="text-sm font-archivoSemiBold">
											{ fmt.Sprintf("%s/%s", 
                                    cases.Title(language.English).String(v.Payload.CrossPlatformArb.Anchor.Discovery.MarketInfo.Platform.String()),  cases.Title(language.English).String(v.Payload.CrossPlatformArb.Match.Discovery.MarketInfo.Platform.String()) ) }
										</span>
									</p>
									<p class="text-xs font-archivo">Scored: <span class=" text-sm font-archivoSemiBold">{ fmt.Sprintf("%.2f%%", v.Payload.CrossPlatformArb.Scored   * 100) } </span></p>
									<button
										type="button"
										hx-post={ templ.SafeURL(fmt.Sprintf("/delete/arb/%s", v.CorrelationId)) }
										hx-target="#needsResolve"
										hx-swap="outerHTML"
										hx-confirm="Are you sure you want to delete this hit?"
										hx-trigger="click consume"
										hx-push-url="false"
										class="ml-auto transition-all duration-150 hover:bg-red-500/20 hover:ring-1 hover:ring-red-400 rounded-full cursor-pointer"
									>
										<img src="/assets/svg/delete-red.svg" alt="" class="w-6 aspect-square"/>
									</button>
								</div>
							</a>
						</li>
					}
				</ul>
			</section>
		} else {
			<p class="h-full w-full mx-auto my-auto text-2xl font-dmSans text-center items-center grid place-items-center">No arbs to see</p>
		}
		<style>
			.loading {
				filter: blur(2px);
				pointer-events: none;
			}
		</style>
		<script>
		function filterPlatform(platform, btn) {

			const container = document.querySelector("#needsResolve > section")
			container.classList.add("loading")

			setTimeout(() => {
				document.querySelectorAll(".platform-filter").forEach(b => {
					b.classList.remove(
						"bg-emerald-500/20",
						"ring-1",
						"ring-emerald-400",
						"shadow-[0_0_8px_rgba(16,185,129,0.6)]"
					)
				})

				btn.classList.add(
					"bg-emerald-500/20",
					"ring-1",
					"ring-emerald-400",
					"shadow-[0_0_8px_rgba(16,185,129,0.6)]"
				)

				const items = document.querySelectorAll(".listings")
				items.forEach(item => {
					const p = item.dataset.platform

					if (platform === "ALL" || p === platform) {
						item.classList.remove("hidden")
					} else {
						item.classList.add("hidden")
					}
				})

				container.classList.remove("loading")

			}, 0)
		}
		</script>
	</div>
}
