package frontend

import "fmt"

templ document(pageMainComp, pageAfterBodyComp templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1.0"
			/>
			// css
			<link
				href="/assets/styles/output.css"
				rel="stylesheet"
				type="text/css"
			/>
			// daisy loading
			<link
				href="/assets/styles/daisy-loading.css"
				rel="stylesheet"
				type="text/css"
			/>
			// tippy
			<link
				href="/assets/styles/backdrop.css"
				rel="stylesheet"
				type="text/css"
			/>
			// some other tippy stuff
			<link
				href="/assets/styles/shift-away.css"
				rel="stylesheet"
				type="text/css"
			/>
			// some other tippy stuff
			<link
				href="/assets/styles/perspective-extreme.css"
				rel="stylesheet"
				type="text/css"
			/>
			<script src="/assets/scripts/htmx.min.js"></script>
			<script src="/assets/scripts/hyperscript.min.js"></script>
			<title>DearestArb</title>
		</head>
		<body class="text-[#EBEBEB] bg-[#06001B] font-dmSans! h-screen w-screen">
			<div class="h-full grid grid-cols-[auto_1fr] gap-2 min-[83.5rem]:grid-cols-[minmax(18.875rem,20.97%)_1fr] min-[83.5rem]:gap-0">
				@navItem()
				<main id="mainContent" class="py-4 pr-4 rounded-3xl h-full overflow-hidden">
					if pageMainComp == nil {
						@dashboardMain()
					} else {
						@pageMainComp
					}
				</main>
			</div>
		</body>
		if pageAfterBodyComp != nil {
			@pageAfterBodyComp
		}
	</html>
}

templ navItem() {
	<nav
		class="sticky h-screen flex flex-col justify-between items-center text-[#A3A3A3] text-sm font-bold tracking-[0.001em]"
	>
		<section class="flex flex-col `gap-11.5">
			<img
				src="/assets/svg/soanaLogoBig.svg"
				class="w-11 min-[83.5rem]:w-[2.938rem] aspect-square my-10 mx-auto"
				alt=""
			/>
			<div class="m-8.25 mr-8.5 min-[83.5rem]:ml-10 min-[83.5rem]:mr-[1.692rem] flex flex-col justify-between items-center">
				<menu class="flex flex-col justify-between items-center gap-4 focus:text-white text-left">
					<li>
						<a
							href="/dashboard"
							class="hidden min-[83.5rem]:flex gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								src="/assets/svg/Home.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
							<p class="w-29 aspect-116/10 mr-[2.467rem]">
								Dashboard
							</p>
						</a>
						<a
							href="/dashboard"
							title="Dashboard"
							class="flex min-[83.5rem]:hidden py-[0.82rem] px-[0.40625rem] gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								title="Dashboard"
								src="/assets/svg/Home.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
						</a>
					</li>
					<li>
						<a
							href="/hits"
							class="hidden min-[83.5rem]:flex gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								src="/assets/svg/Records.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
							<p class="w-29 aspect-116/10 mr-[2.467rem]">
								Similarity Hits
							</p>
						</a>
						<a
							href="/hits"
							title="Similarity Hits"
							class="flex min-[83.5rem]:hidden py-[0.82rem] px-[0.40625rem] gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								title="Similarity Hits"
								src="/assets/svg/Records.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
						</a>
					</li>
					<li>
						<a
							href="/arbs"
							class="hidden min-[83.5rem]:flex gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								src="/assets/svg/Update token.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
							<p class="w-29 aspect-116/10 mr-[2.467rem]">
								Arbs
							</p>
						</a>
						<a
							href="/arbs"
							title="Arbs"
							class="flex min-[83.5rem]:hidden py-[0.82rem] px-[0.40625rem] gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								title="Arbs"
								src="/assets/svg/Update token.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
						</a>
					</li>
					<li>
						<a
							href="#"
							class="hidden min-[83.5rem]:flex gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								src="/assets/svg/Launch token.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
							<p class="w-29 aspect-116/10 mr-[2.467rem]">
								Launch Token
							</p>
						</a>
						<a
							href="#"
							title="Launch Token"
							class="flex min-[83.5rem]:hidden py-[0.82rem] px-[0.40625rem] gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								title="Launch Token"
								src="/assets/svg/Launch token.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
						</a>
					</li>
					<li>
						<a
							href="/login"
							class="hidden min-[83.5rem]:flex gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								src="/assets/svg/Quit program.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
							<p class="w-29 aspect-116/10 mr-[2.467rem]">
								Quit Program
							</p>
						</a>
						<a
							href="/login"
							title="Quit Program"
							class="flex min-[83.5rem]:hidden py-[0.82rem] px-[0.40625rem] gap-4 justify-center items-center rounded-full focus:outline-hidden focus:scale-y-110 focus:scale-x-110 focus:bg-menuGradient transition duration-500 ease-in-out"
						>
							<img
								title="Quit Program"
								src="/assets/svg/Quit program.svg"
								class="w-6 aspect-square my-[0.82rem]"
							/>
						</a>
					</li>
				</menu>
			</div>
		</section>
		<a
			class="mb-62.25 min-[83.5rem]:mb-0 mx-auto themed-btn flex justify-center items-center gap-2 rounded-3xl text-sm font-bold cursor-pointer"
			_="on click call #dialogPageOne.showModal() end"
		>
			<img
				src="/assets/svg/plus-white.svg"
				class="w-6 aspect-square my-4 mx-[1.639rem] min-[83.5rem]:my-4 min-[83.5rem]:ml-[1.639rem]"
			/>
			<p
				class="hidden min-[83.5rem]:block w-36 aspect-116/10 tracking-[0.001em] text-center my-[1.438rem] mr-[1.639rem] text-[#FDFDFD] cursor-pointer"
			>
				Create New Token
			</p>
		</a>
		<section class="hidden min-[83.5rem]:inline-flex text-center  gap-4 justify-center">
			<a
				href="https://vividpass.xyz"
				class=""
			>Built by VividPass</a>
			<a href="http://">Version: 1.0.0</a>
		</section>
	</nav>
}

templ header() {
	<header
		class="bg-inherit pt-[1.18rem] pb-[1.242rem] pr-[3.467rem]"
	>
		<div
			class="cursor-pointer ml-auto bg-[#FFFFFF1A] w-fit flex justify-center items-center gap-2 rounded-3xl py-2 px-4"
			_="on click call connectWallet() end"
		>
			<img
				id="walletIcon"
				src="/assets/images/solanaLogo.png"
				class="w-8.5 aspect-34/33.25 rounded-3xl"
			/>
			<button id="walletAddr" class="text-[#FFFFFFB2] font-normal text-base -tracking-tighter text-center cursor-pointer">
				Connect wallet
			</button>
		</div>
	</header>
}

templ backBtn(url string) {
	<button type="button">
		<a href={ templ.SafeURL(fmt.Sprintf("/%s", url)) } class="flex gap-1 justify-center items-center w-fit mr-auto">
			<img
				src="/assets/svg/ArrowLeft.svg"
				alt=""
				class="w-6 aspect-square cursor-pointer"
			/>
			<p class=" text-lg font-archivoSemiBold font-bold tracking-[0.001em] text-left">Back</p>
		</a>
	</button>
}



