package frontend

templ ResolvePage() {
	@document(resolveMain(), nil)
}

templ resolveMain() {
	<div class="mx-10 overflow-y-auto h-full">
		<p class="text-2xl font-normal text-left pt-10 pb-8">Similarity Hits</p>
	</div>
}
